/* Step 1: Define the font */
@font-face {
    font-family: 'outfit font'; /* name my font*/
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'young serif'; 
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: white;
    padding:2%;

}

h1{
    font-family: 'young serif';
    padding-left: 15PX;
}

h2{
    color:hsl(14, 45%, 36%);
    font-family:'young serif';
    padding-left: 25px;

}

h3{
    color:hsl(332, 51%, 32%);
    font-family:"outfit font";
    padding-left:25px;
}

p, li, td{
    font-family: 'outfit font';
    font-size: 16px;
}

th{
    font-family:'outfit font';
    color:hsl(14, 45%, 36%);
}

table, th, td {
  border-collapse: collapse;
  padding-left: 50px;
  padding-right: 350px;
  width: 100%;
  height: 40px;
  text-align: left;
  

  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}

div {
    background-color:hsl(330, 100%, 98%);
    padding: 10px;
    border-radius:10px;
}

img {
    border-radius:3%
}

li {
    padding: 5px;
}

p {
    padding-left: 15px;
}